<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/commonHead.html') %>
    <title>OpiStream</title>
</head>
<body>
    <div class="column">
        <span>Welcome to OpiStream</span>
        <video id="video" controls></video>
        <button id="streamButton">Stream</button>
        <input type="text" id="tokenField" placeholder="Token">
    </div>
</body>
</html>