@use "../modules/dimensions.scss";
@use "../modules/colors.scss";

main {
    grid-template-rows: 50% auto;
    justify-content: initial;
}

video {
    background-color: black;
    width: 100%;
    height: 100%;
}

.videoInfoBar {
    height: dimensions.$navHeight;
    line-height: dimensions.$navHeight;
    justify-content: space-between;
    background-color: colors.$backgroundDark;
}