$background: #252525;
$backgroundLight: #2e2d2d;
$backgroundLightFocus: #804545;
$backgroundText: #e0dcdc;

$nav: $background;
$navText: $backgroundText;

$primary: #e43d86;
$primaryFocus: #e878a8;
$primaryText: #353434;