// Nav
$navHeight: 4em;

// Boxes
$gap: .5em;

$paddingSmall: 1em;
$padding: 1.5em;
$paddingLarge: 2em;

$borderRadiusSmall: .25em;
$borderRadius: .5em;

// Text
$fontTitle: 4rem;
$fontTitleSmall: 2.5rem;
$font: 1.25rem;

// Timing
$animation: .25s;
$animationSlow: .5s;
$animationFast: .2s;